:root {
    --white: #EEEEEE;
    --light-blue: #64CCC5;
    --dark-teal: #176B87;
    --navy: #053B50;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: roboto;
    src: url('assets/Roboto-Regular.ttf');
}

body {
    margin: 0px;
    background: var(--white);
    font-family: roboto;
    display: flex;
    flex-direction: column;

}

aside {
    width: 40vh;
    background-color: var(--light-blue);
    height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ul {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    height: 50vh;
    font-size: 1.5em;
    justify-content: start;
}

a {
    color: black;
}

header {
    font-size: 5em;
    background: var(--dark-teal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}